{% extends "navbar.html" %}
{% block title %}Hulk - Home{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="../static/css/home.css">{% endblock %}

{% block content %}
    <div id="welcome">
        <p>Welcome to Project Hulk!</p>
    </div>

    <div id="home-links">
      <a href= {{ url_for('get_search') }} search class="btn" id="home_search_button">Search for Excercises</a>
      <a href= {{ url_for('calculator') }}  class="btn" id="home_calcalc_button">Calorie Calculator</a>
      <a href= {{ url_for('get_page_profile') }}  class="btn" id="home_profile_button" >User Page</a>
      <a href= {{ url_for('get_page_login') }}  class="btn" id="home_login_button">Log In or Sign Up</a>
    </div>

{% endblock %}
