{% extends "navbar.html" %}
{% block title %}Hulk - Login{% endblock %}
{% block head %}
    <script src="../static/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}
{% block content %}

    <div id="prompt">
        Log in or Sign Up
    </div>

    <form class='form-inline' id="user-form" >

        <div class = "form-group" id="email">
            <label for="email" id="email-label">Email address:</label>
            <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <div class="form-group" id="username">
            <label for="username" id="username-label">Username:</label>
            <input type="username" class="form-control" id="username-input" placeholder="Username">
        </div>

        <div class="form-group" id="buttons">
            <div class = "col">
                    <button type="submit" class="btn" id="login-button">Log In</button>
            </div>
            <div class = "col">
                <button type="submit" class="btn" id="signup-button">Sign Up</button>
            </div>
        </div>

    </form>

{% endblock %}
